RewriteEngine On

# Hide .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Prevent directory listing
Options -Indexes

# Protect src directory
RewriteRule ^src/.*$ - [F,L]
